body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #000000;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 32px;
    height: 32px;
}

header h1 {
    font-size: 24px;
    color: #0000CD;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: justify;
}

.instruction {
    background-color: #FFE4B5;
    border: 2px solid #D2691E;
    padding: 10px;
    margin-bottom: 20px;
}

.instruction strong {
    font-weight: bold;
}

.question {
    background-color: #87CEEB;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    background-color: #0000CD;
    color: #FFFF00;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #00008B;
}

.error {
    color: #FF0000;
    margin-top: 10px;
}

.question.incomplete {
    box-shadow: 0 0 10px #FF0000;
}

#result p {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; /* Para garantir que os botões se alinhem corretamente em telas menores */
}

button {
    flex: 1 1 auto;
    max-width: 200px; /* Limita a largura máxima dos botões, opcional */
    width: auto;
    height: 45px;
}
